{{#each offers as |offer|}}
    <div class="all-offers">
        <div class="each-offer">
        <a href="/offers/{{offer.id}}">{{offer.title}}</a>
        <ul>
            <li>{{offer.date_available}}</li>
            <li>{{offer.location}}</li>
            <li>{{offer.crop}}</li>
            <li>{{offer.quantity}}</li>
        </ul>
        <p>{{offer.content}}</p>
        </div>
    </div>
{{/each}}
