<div class = "all-offers">
    <h1 style="color:#097969; text-align:center"; >All Offers</h1>
    {{#each offers as |offer|}}
            <div class="each-offer">
            <a class="post-title" href="/offers/{{offer.id}}">{{offer.title}}</a>
            <ul>
                <li>Date Available: {{offer.date_available}}</li>
                <li>Location: {{offer.location}}</li>
                <li>Crop: {{offer.crop}}</li>
                <li>Quantity: {{offer.quantity}}lbs</li>
            </ul>
            <p>{{offer.content}}</p>
            </div>
    {{/each}}
</div>
