{{#each requests as |request|}}
    <div class = "all-requests">
        <a href="/requests/{{request.id}}">{{request.title}}</a>
        <ul>
            <li>{{request.date_available}}</li>
            <li>{{request.location}}</li>
            <li>{{requeset.crop}}</li>
            <li>{{request.quantity}}</li>
        </ul>
        <p>{{content}}</p>
    </div>
{{/each}}