<div class = "all-requests">
    <h1 style="color:#097969; text-align:center"; >View all requests</h1>
    {{#each requests as |request|}}
        <div class = "each-request">
            <h2>{{request.title}}</h2>
            <ul>
                <li>Date Available: {{request.date_available}}</li>
                <li>Location: {{request.location}}</li>
                <li>Crop: {{request.crop}}</li>
                <li>Quantity: {{request.quantity}}lbs</li>
            </ul>
            <p>{{request.content}}</p>
        </div>
    {{/each}}
</div>
