<!-- For each gallery, the 'gallery-details' partial is used to render the gallery data -->
{{#each offers as |offer|}}
    <div class = "offer-header">
        <h2>{{offer.title}}</h2>
        <ul>
            <li>{{offer.date_available}}</li>
            <li>{{offer.location}}</li>
            <li>{{offer.crop}}</li>
            <li>{{offer.quantity}}</li>
        </ul>
        <p>{{content}}</p>
    </div>
{{/each}}
