{{#each requests as |request|}}
    <div class = "request-header">
        <h2>{{title}}</h2>
        <ul>
            <li>{{date_available}}</li>
            <li>{{location}}</li>
            <li>{{crop}}</li>
            <li>{{quantity}}</li>
        </ul>
        <p>{{content}}</p>
    </div>
{{/each}}