{{#each requests as |request|}}
    <div class = "request-header">
        <h2>{{requeset.title}}</h2>
        <ul>
            <li>{{request.date_available}}</li>
            <li>{{request.location}}</li>
            <li>{{requeset.crop}}</li>
            <li>{{request.quantity}}</li>
        </ul>
        <p>{{content}}</p>
    </div>
{{/each}}